<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !/(Shibboleth\.sso) [NC]
    RewriteRule ^ index.php [L]
</IfModule>

SetEnv SHIB_IMPLIED_AFFILIATION_SCOPE "ucla.edu"

<IfModule mod_shib>
    AuthType shibboleth
    ShibRequireSession On
    ShibUseHeaders On
    require valid-user
</IfModule>

<IfModule !mod_shib>
    SetEnv SHIB_EPPN "example@localhost"
    SetEnv SHIB_SN "User"
    SetEnv SHIB_GIVEN_NAME "Example"
    SetEnv SHIB_MAIL "example@mail.localhost"
    SetEnv SHIB_EDU_PERSON_AFFILIATION "staff;employee"
    SetEnv SHIB_UID "123456789"
</IfModule>
